@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ol,
ul {
    list-style: none;
}

body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    min-width: 1500px;
    line-height: 25px;
    padding-top: 80px;
}

html {
    -webkit-text-size-adjust: 100%;
}

/*공통꾸미기*/
#visual, #container, #container2, #eco_packaging,  .donation_product, #map{
    margin: 0 auto;
    width: 1320px;
}
.photo_box img{
    display: block;
    width: 100%;    
}
.section{
    padding-top: 100px;
}
/*visual*/
#visual_wrap{
    background-color: #f7f7f7;
    
}
#visual{
    height: 720px;
    position: relative;
}
#visual > div{
 display: inline-block;
}

.visual_text_box p{
    font-size: 150px;
    font-weight: 900;
    font-family: 'Roboto';
    padding: 0 91px;
    line-height: 150px;
}

#visual div:last-child{
    vertical-align: -88px;
}
.visual_1{
    width: 480px;
}
.visual_1 img{
    border-radius: 0 0 450px 450px;
}
.visual_2{
    position: absolute;
    right: -290px;
    bottom: -75px;
}
.visual_2 img{
    border-radius: 0 0 0 200px;

}

.visual_color_box{
    width: 788px;
    height: 404px;
    background-color: #f2f2f2;
    position: absolute;
    right: -280px;
    bottom: -65px;
    border-radius: 0 0 0 200px;
}
/*section1 who_we_are*/
.title{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Roboto';
    padding-bottom: 50px;
    line-height: 54px;
}
.section1 p{
    text-align: center;
    line-height: 25px;
    padding-bottom: 15px;
}

/*section2*/
.section2 li{
    padding-bottom: 30px;
}
.material{
    display: flex;
    align-items: center;
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 0;
}
.material > div{
    display: inline-block;
    width: 50%;
}

.material_text_box p{
    padding-left: 84px;
    text-align: left;
}
.material_text_box2 p{
    padding-right: 84px;
    text-align: right;
}
.material_text_box p:first-child ,.material_text_box2 p:first-child{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto';
    padding-bottom: 45px;
}
.material_text_box p:last-child ,.material_text_box2 p:last-child{
    line-height: 25px;
}
.material_text_box p, .material_text_box2 p{
    font-size: 14px;
}

/*section3 what_we_do*/
.section3{
    height: 597px;
    text-align: center;   
}
.section3 ul{
    height: 495px;
}
.section3 ul li{
    float: left;
    width: 374px;
}
.section3 ul li:nth-child(2){
    margin: 0 99px;

}

.what_we_do .photo_box img{
    border-radius: 200px 200px 0 0;
    padding-bottom: 10px;
}
.what_we_do_text_box p:first-child{
    font-size: 24px;
    font-weight: 500;
}
.what_we_do_text_box p:last-child{
    font-size: 16px;
    font-weight: 100;
    color: #999;
    padding: 8px 0;
}


/*eco_packaging section4*/
#eco_packaging_wrap{
    margin-top: 100px;
    background: linear-gradient( to bottom, #f2d8bc7e 90%, #fff 20%);
}
.section4{
    position: relative;
    height: 918px;
}
.right{
    float: right;
}
.section4 div:last-child{
    width: 660px;
}
.dog_in_box{
    position: absolute;
    left: -65px;
    bottom: 0;
    width: 675px;
    z-index: 10;
}
.eco_packaging_color_box{
    position: absolute;
    left: 99px;
    top: 130px;
    width: 943px;
    height: 413px;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}
.taping{
    position: absolute;
    left: 156px;
    top: 187px;
    z-index: 9;
}
.eco_packaging_text_box{
    position: absolute;
    left: 610px;
    top: 255px;
    z-index: 10;
}
.sub_title{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}
/*donation section5*/
.section5{
    height: 795px;
}
.left{
    float: left;
}
.section5 .left{
    width: 660px;
}
.donation_text_box{
    padding-top: 58px;
}
.donation_text_box .text{
    padding-left: 30px;
}
.donation_text_box .right{
    padding-top: 69px;
}
/*section6 donation_activity*/
.section6 li{
    padding-bottom: 30px;
}
.activity{
    display: flex;
    align-items: center;
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 0;
}
.activity > div{
    display: inline-block;
    width: 50%;
}
.activity_text_box{
    box-sizing: border-box;
}
.activity_text_box{
    padding-left: 84px;
}

.activity_text_box p:nth-child(2){
    font-size: 14px;
}
.activity .link_btn a{
    display: inline-block;
    font-size: 15px;
    border: 1px solid #000;
    border-radius: 100px;
    text-align: center;
    width: 150px;
    padding: 9px 0;
    margin: 35px 15px 0 0;
}
.activity .link_btn a:hover{
    color: #fff;
    background-color: #000;
}
/*donation_product*/
#donation_product_wrap{
    margin-top: 100px;
    background-color: #BCE69E;
}
#donation_product{
    height: 400px;
    background-image: url(../images/about_us/donation_product_bg.svg);
    background-position: center top;
    background-repeat: no-repeat;
}
.donation_product{
    padding: 108px 0 0 530px;
    width: 350px;
}
.donation_product a{
    display: inline-block;
    font-weight: 700;
    margin-top: 35px;
}
.arrow_btn::after {
    content: '';
    background-image: url(../images/about_us/arrow_btn.svg);
    background-repeat: no-repeat;
    height: 13px;
    width: 23px;
    display: inline-block;
    margin-left: 14px;
}
/*map*/
#map{
    padding-bottom: 100px;
}
.map{
    text-align: center;
}
#map ul{
    padding-top: 30px;
    height: 200px;
}
#map ul li{
    float: left;
    width: 420px;
    height: 100%;
}
#map ul li button{
    border: 1px solid #000;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    padding: 0 100px;
    width: 100%;
    height: 100%;
}
#map ul li button p{
    font-weight: 500;
    font-family: 'Noto Sans KR';
    text-align: left;
}
#map ul li button p:first-child{
    padding-bottom: 20px;
    font-size: 16px;
}

#map ul li:nth-child(2){
    margin: 0 30px;
}
#map ul li button:hover{
    background-color: #000;
    color: #fff;
}
#map iframe{
    margin-top: 50px;
    width: 1320px;
    height: 560px;
    position: relative;
}
.map2{
    position: absolute;
    left: 0;
    top: 0;
}
footer iframe{
    width: 100%;
    height: 450px;
}
.scroll_top_btn{
    border: none;
    background-color: transparent;
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
    padding: 0 30px 30px 0;
}
