@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ol,
ul {
    list-style: none;
}

body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    min-width: 1700px;
    padding-top: 80px;
}

#visual_wrap {
    border-bottom: 2px solid #000;
}

#visual,
#container {
    margin: 0 auto;
    width: 1320px;
    text-align: center;
}

#visual p:first-child {
    font-size: 150px;
    font-weight: 900;
    font-family: 'Roboto';
    padding-top: 156px;
    line-height: 150px;
}

#visual p:last-child {
    padding: 30px 0 80px;
    font-size: 30px;
}

#container {
    height: 1538px;
    padding: 100px 0;
    box-sizing: border-box;
}

#container ul {
    height: 644px;
}

#container ul:last-child {
    padding-top: 50px;
}

#container ul li {
    float: left;
    width: 432px;
}

#container ul li .event_title {
    padding-top: 12px;
    font-size: 16px;
}

#container ul li:nth-child(2) {
    margin: 0 12px;
}
#container ul li div{
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#container ul li  img{
    display: block;
    transition: transform 0.45s;
}

.event_end {
    position: relative;
    overflow: hidden;
    color: #ffffff;
    background: #000000;
    font-size: 16px;
}

.event_end * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.event_end div {
    position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid white;
    opacity: 0;
}

/* .event_end div .hover_icon{
    display: block;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -47px;
} */
.event_end div p:first-child{
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    padding: 0 140px;
    margin: 0;
    opacity: 1;
}
.event_end div p:last-child {
    top: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    opacity: 0;
    font-size: 24px;
}

#container ul li a:hover .event_img {
    opacity: 0.25;
    /* -webkit-transform: scale(1.1); */
    /* transform: scale(1.1); */
}

#container ul li a:hover div p {
    opacity: 1;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

#container ul li a:hover div {
    top: 7%;
    bottom: 7%;
    opacity: 1;
}