@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

ol,
ul {
    list-style: none;
}

body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    min-width: 1400px;
    padding-top: 80px;
}

html {
    -webkit-text-size-adjust: 100%;
}

/*공통꾸미기*/
#visual, #container{
    margin: 0 auto;
    width: 1320px;
}
.photo_box img{
    display: block;
    width: 100%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.layer{
    position: absolute;
}

/*visual*/
#visual_wrap{
    background-color: #f7f7f7;
    
}
#visual{
    height: 720px;
    position: relative;
}
#visual > div{
 display: inline-block;
}

.visual_text_box p{
    font-size: 150px;
    font-weight: 900;
    font-family: 'Roboto';
    padding: 0 42px 0 60px;
    line-height: 150px;
    text-align: center;
}

#visual div:last-child{
    vertical-align: -247px;
}
.visual{
    width: 558px;
}
.visual img{
    border-radius: 450px 450px 0 0;
    margin-top: 42px;
}
/*container*/
/*clothes section1*/
.section1{
    height: 1414px;
    padding-top: 150px;
    position: relative;
}
.section_title{
    font-size: 45px;
    font-family: 'Roboto';
    padding-bottom: 30px;
}
.clothes_intro{
    height: 494px;
}
.clothes_box1{
    width: 780px;
}
.clothes_box1 > div{
    float: left;
}
.clothes_box1 > div:first-child{
    width: 494px;
}
.clothes_box1 > div:last-child{
    width: 206px;
    padding-left: 30px;
}
.clothes_box1 div:last-child p{
    font-size: 30px;
    font-family: 'Roboto';
    padding-bottom: 119px;
}
.clothes_box2{
    width: 333px;
}

.smile{
    right: -160px;
    top: 403px;
}
.smile img{
    width: 395px;
    height: 332px;
}

.product{
    clear: both;
    padding-top: 50px;
    height: 786px;
}
.top_line{
    width: 987px;
}
.product ul{
    height: 378px;
}
.product ul:last-child{
    padding-top: 30px;
}
.product ul li{
    float: left;
    width: 321px;
}
.product ul li:nth-child(2){
    margin: 0 12px;
}
.product ul li p{
    padding-top: 8px;
}
.product ul li p span{
    font-weight: 700;
}
.product ul li div{
    position: relative;
}
.product_hover{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s;
}
.product ul li a:hover .product_hover{
    opacity: 1;
}
.bottom_line{
    width: 987px;
}
/*toys section2*/
.section2{
    height: 1437px;
    padding-top: 100px;
}
.toys_intro{
    height: 515px;
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 0;
    position: relative;
}
.toys_intro div{
    display: inline-block;
}
.toys_intro > div:nth-child(2){
    padding: 0 30px;
}
.toys_intro > div:nth-child(3) p{
    font-size: 30px;
    font-family: 'Roboto';
    padding: 88px 0 12px;
}
.toys_intro > div:nth-child(3){
    vertical-align: top;
}
.layer-flower{
    right: 16px;
    top: 40px;
}
.layer-flower img{
    width: 150px;
    height: 100px;
}

/*walk section3*/
.section3{
    clear: both;
    height: 1406px;
    padding: 100px 0;
}
.walk_intro{
    height: 490px;
    position: relative;
}
.walk_box_1{
    width: 333px;
    padding-top: 196px;
}
.walk_box_2{
    width: 726px;
}
.walk_box_2 > div{
    float: left;
}
.walk_box_2 > div:first-child{
    width: 206px;
    padding-right: 30px;
}
.walk_box_2 > div:first-child p{
    font-size: 30px;
    font-family: 'Roboto';
}
.walk_box_2 > div:first-child p{
    padding-top: 25px;
}
.walk_box_2 > div:nth-child(2){
    width: 490px;
}
.layer-grass{
    left: 400px;
    top: 396px;
}
.layer-grass img{
    display: block;
    width: 200px;
    height: 100px;

}
